@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

p {
    margin: 5px;
}

.weatherToday {
    margin: 50px 0 100px 0;
    display: flex;
    justify-content: center;
}

.weatherToday h2 {
    font-weight: 700;
}

.weatherToday h3 {
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.weatherToday p {
    font-weight: 500;
}

.weatherNextDays {
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: center;
}

/* Card style */

.card {
    padding: 30px;
    background-color: #F8F9FA;
    border-width: 0;
    border-radius: 16px;
}